:root {
    --primary-color: #00FF00; /* lime green */
    --secondary-color: #000000; /* black */
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}
